<form method="get" action="http://localhost:8000/polls/index3">
A　 運用開始
	  <input type="date" name="startA">
  	<input type="submit" name="submit" value="">

  	運用終了
  	<input type="date" name="finA">
  	<input type="submit" name="submit" value="">

  	運用賃金
  	<input type="number" name="unnyouA">
    契約条件
　　<input type="radio" name="conditionA" value="0"> 月固定
　　<input type="radio" name="conditionA" value="1"> 年固定
　　<input type="radio" name="conditionA" value="2"> 利益の<input type="number" name="unnyouA">%
B　 運用開始
	  <input type="date" name="startB">
  	<input type="submit" name="submit" value="">

  	運用終了
  	<input type="date" name="finB">
  	<input type="submit" name="submit" value="">

  	運用賃金
  	<input type="number" name="unnyouB">
    契約条件
　　<input type="radio" name="conditionB" value="0"> 月固定
　　<input type="radio" name="conditionB" value="1"> 年固定
　　<input type="radio" name="conditionB" value="2"> 利益の<input type="number" name="unnyouB">%
C　 運用開始
	  <input type="date" name="startC">
  	<input type="submit" name="submit" value="">

  	運用終了
  	<input type="date" name="finC">
  	<input type="submit" name="submit" value="">

  	運用賃金
  	<input type="number" name="unnyouC">
    契約条件
　　<input type="radio" name="conditionC" value="0"> 月固定
　　<input type="radio" name="conditionC" value="1"> 年固定
　　<input type="radio" name="conditionC" value="2"> 利益の<input type="number" name="unnyouC">%
D　 運用開始
	  <input type="date" name="startD">
  	<input type="submit" name="submit" value="">

  	運用終了
  	<input type="date" name="finD">
  	<input type="submit" name="submit" value="">

  	運用賃金
  	<input type="number" name="unnyouD">
    契約条件
　　<input type="radio" name="conditionD" value="0"> 月固定
　　<input type="radio" name="conditionD" value="1"> 年固定
　　<input type="radio" name="conditionD" value="2"> 利益の<input type="number" name="unnyouD">%
E　 運用開始
	  <input type="date" name="startE">
  	<input type="submit" name="submit" value="">

  	運用終了
  	<input type="date" name="finE">
  	<input type="submit" name="submit" value="">

  	運用賃金
  	<input type="number" name="unnyouE">
    契約条件
　　<input type="radio" name="conditionE" value="0"> 月固定
　　<input type="radio" name="conditionE" value="1"> 年固定
　　<input type="radio" name="conditionE" value="2"> 利益の<input type="number" name="unnyouE">%
F　 運用開始
	<input type="date" name="startF">
  	<input type="submit" name="submit" value="">

  	運用終了
  	<input type="date" name="finF">
  	<input type="submit" name="submit" value="">

  	運用賃金
  	<input type="number" name="unnyouF">
    契約条件
　　<input type="radio" name="conditionF" value="0"> 月固定
　　<input type="radio" name="conditionF" value="1"> 年固定
　　<input type="radio" name="conditionF" value="2"> 利益の<input type="number" name="unnyouF">%
G　 運用開始
  <input type="date" name="startG">
    <input type="submit" name="submit" value="">

    運用終了
    <input type="date" name="finG">
    <input type="submit" name="submit" value="">

    運用賃金
    <input type="number" name="unnyouG">
    契約条件
　　<input type="radio" name="conditionG" value="0"> 月固定
　　<input type="radio" name="conditionG" value="1"> 年固定
　　<input type="radio" name="conditionG" value="2"> 利益の<input type="number" name="unnyouG">%
H　 運用開始
	  <input type="date" name="startH">
  	<input type="submit" name="submit" value="">

  	運用終了
  	<input type="date" name="finH">
  	<input type="submit" name="submit" value="">

  	運用賃金
  	<input type="number" name="unnyouH">
    契約条件
　　<input type="radio" name="conditionH" value="0"> 月固定
　　<input type="radio" name="conditionH" value="1"> 年固定
　　<input type="radio" name="conditionH" value="2"> 利益の<input type="number" name="unnyouH">%
I　 運用開始
	  <input type="date" name="startI">
  	<input type="submit" name="submit" value="">

  	運用終了
  	<input type="date" name="finI">
  	<input type="submit" name="submit" value="">

  	運用賃金
  	<input type="number" name="unnyouI">
    契約条件
　　<input type="radio" name="conditionI" value="0"> 月固定
　　<input type="radio" name="conditionI" value="1"> 年固定
　　<input type="radio" name="conditionI" value="2"> 利益の<input type="number" name="unnyouI">%
J　 運用開始
	  <input type="date" name="startJ">
  	<input type="submit" name="submit" value="">

  	運用終了
  	<input type="date" name="finJ">
  	<input type="submit" name="submit" value="">

  	運用賃金
  	<input type="number" name="unnyouJ">
    契約条件
　　<input type="radio" name="conditionJ" value="0"> 月固定
　　<input type="radio" name="conditionJ" value="1"> 年固定
　　<input type="radio" name="conditionJ" value="2"> 利益の<input type="number" name="unnyouJ">%
K　 運用開始
	  <input type="date" name="startK">
  	<input type="submit" name="submit" value="">

  	運用終了
  	<input type="date" name="finK">
  	<input type="submit" name="submit" value="">

  	運用賃金
  	<input type="number" name="unnyouK">
    契約条件
　　<input type="radio" name="conditionK" value="0"> 月固定
　　<input type="radio" name="conditionK" value="1"> 年固定
　　<input type="radio" name="conditionK" value="2"> 利益の<input type="number" name="unnyouK">%
L　 運用開始
	  <input type="date" name="startL">
  	<input type="submit" name="submit" value="">

  	運用終了
  	<input type="date" name="finL">
  	<input type="submit" name="submit" value="">

  	運用賃金
  	<input type="number" name="unnyouL">
    契約条件
　　<input type="radio" name="conditionL" value="0"> 月固定
　　<input type="radio" name="conditionL" value="1"> 年固定
　　<input type="radio" name="conditionL" value="2"> 利益の<input type="number" name="unnyouL">%
M　 運用開始
	  <input type="date" name="startM">
  	<input type="submit" name="submit" value="">

  	運用終了
  	<input type="date" name="finM">
  	<input type="submit" name="submit" value="">

  	運用賃金
  	<input type="number" name="unnyouM">
    契約条件
　　<input type="radio" name="conditionM" value="0"> 月固定
　　<input type="radio" name="conditionM" value="1"> 年固定
　　<input type="radio" name="conditionM" value="2"> 利益の<input type="number" name="unnyouM">%
N　 運用開始
	  <input type="date" name="startN">
  	<input type="submit" name="submit" value="">

  	運用終了
  	<input type="date" name="finN">
  	<input type="submit" name="submit" value="">

  	運用賃金
  	<input type="number" name="unnyouN">
    契約条件
　　<input type="radio" name="conditionN" value="0"> 月固定
　　<input type="radio" name="conditionN" value="1"> 年固定
　　<input type="radio" name="conditionN" value="2"> 利益の<input type="number" name="unnyouN">%
O　 運用開始
	  <input type="date" name="startO">
  	<input type="submit" name="submit" value="">

  	運用終了
  	<input type="date" name="finO">
  	<input type="submit" name="submit" value="">

  	運用賃金
  	<input type="number" name="unnyouO">
    契約条件
　　<input type="radio" name="conditionO" value="0"> 月固定
　　<input type="radio" name="conditionO" value="1"> 年固定
　　<input type="radio" name="conditionO" value="2"> 利益の<input type="number" name="unnyouO">%
P　 運用開始
	  <input type="date" name="startP">
  	<input type="submit" name="submit" value="">

  	運用終了
  	<input type="date" name="finP">
  	<input type="submit" name="submit" value="">

  	運用賃金
  	<input type="number" name="unnyouP">
    契約条件
　　<input type="radio" name="conditionP" value="0"> 月固定
　　<input type="radio" name="conditionP" value="1"> 年固定
　　<input type="radio" name="conditionP" value="2"> 利益の<input type="number" name="unnyouP">%
Q　 運用開始
	  <input type="date" name="startQ">
  	<input type="submit" name="submit" value="">

  	運用終了
  	<input type="date" name="finQ">
  	<input type="submit" name="submit" value="">

  	運用賃金
  	<input type="number" name="unnyouQ">
    契約条件
　　<input type="radio" name="conditionQ" value="0"> 月固定
　　<input type="radio" name="conditionQ" value="1"> 年固定
　　<input type="radio" name="conditionQ" value="2"> 利益の<input type="number" name="unnyouQ">%
R　 運用開始
	  <input type="date" name="startQ">
  	<input type="submit" name="submit" value="">

  	運用終了
  	<input type="date" name="finQ">
  	<input type="submit" name="submit" value="">

  	運用賃金
  	<input type="number" name="unnyouQ">
　　契約条件
　　<input type="radio" name="conditionR" value="0"> 月固定
　　<input type="radio" name="conditionR" value="1"> 年固定
　　<input type="radio" name="conditionR" value="2"> 利益の<input type="number" name="unnyouQ">%
S　 運用開始
	  <input type="date" name="startS">
  	<input type="submit" name="submit" value="">

  	運用終了
  	<input type="date" name="finS">
  	<input type="submit" name="submit" value="">

  	運用賃金
  	<input type="number" name="unnyouS">
    契約条件
　　<input type="radio" name="conditionS" value="0"> 月固定
　　<input type="radio" name="conditionS" value="1"> 年固定
　　<input type="radio" name="conditionS" value="2"> 利益の<input type="number" name="unnyouS">%
T　 運用開始
	  <input type="date" name="startT">
  	<input type="submit" name="submit" value="">

  	運用終了
  	<input type="date" name="finT">
  	<input type="submit" name="submit" value="">

  	運用賃金
  	<input type="number" name="unnyouT">
    契約条件
　　<input type="radio" name="conditionT" value="0"> 月固定
　　<input type="radio" name="conditionT" value="1"> 年固定
　　<input type="radio" name="conditionT" value="2"> 利益の<input type="number" name="unnyouT">%
U　 運用開始
	  <input type="date" name="startU">
  	<input type="submit" name="submit" value="">

  	運用終了
  	<input type="date" name="finU">
  	<input type="submit" name="submit" value="">

  	運用賃金
  	<input type="number" name="unnyouU">
    契約条件
　　<input type="radio" name="conditionU" value="0"> 月固定
　　<input type="radio" name="conditionU" value="1"> 年固定
　　<input type="radio" name="conditionU" value="2"> 利益の<input type="number" name="unnyouU">%
W　 運用開始
	  <input type="date" name="startW">
  	<input type="submit" name="submit" value="">

  	運用終了
  	<input type="date" name="finW">
  	<input type="submit" name="submit" value="">

  	運用賃金
  	<input type="number" name="unnyouW">
    契約条件
　　<input type="radio" name="conditionW" value="0"> 月固定
　　<input type="radio" name="conditionW" value="1"> 年固定
　　<input type="radio" name="conditionW" value="2"> 利益の<input type="number" name="unnyouW">%
X　 運用開始
	  <input type="date" name="startW">
  	<input type="submit" name="submit" value="">

  	運用終了
  	<input type="date" name="finW">
  	<input type="submit" name="submit" value="">

  	運用賃金
  	<input type="number" name="unnyouW">
    契約条件
　　<input type="radio" name="conditionX" value="0"> 月固定
　　<input type="radio" name="conditionX" value="1"> 年固定
　　<input type="radio" name="conditionX" value="2"> 利益の<input type="number" name="unnyouW">%
Y　 運用開始
	  <input type="date" name="startY">
  	<input type="submit" name="submit" value="">

  	運用終了
  	<input type="date" name="finY">
  	<input type="submit" name="submit" value="">

  	運用賃金
  	<input type="number" name="unnyouY">
    契約条件
　　<input type="radio" name="conditionY" value="0"> 月固定
　　<input type="radio" name="conditionY" value="1"> 年固定
　　<input type="radio" name="conditionY" value="2"> 利益の<input type="number" name="unnyouY">%
Z　 運用開始
	  <input type="date" name="startY">
  	<input type="submit" name="submit" value="">

  	運用終了
  	<input type="date" name="finY">
  	<input type="submit" name="submit" value="">

  	運用賃金
  	<input type="number" name="unnyouY">
    契約条件
　　<input type="radio" name="conditionZ" value="0"> 月固定
　　<input type="radio" name="conditionZ" value="1"> 年固定
　　<input type="radio" name="conditionZ" value="2"> 利益の<input type="number" name="unnyouY">%
　　
<input type="submit" value="送信">
</form>



