<body>
  <form action="cgi-bin/example.cgi" method="post">
  <p>計算開始日時</p>
  <input type="date" name="date">
  <input type="submit" name="submit" value="">

  <p>計算終了日時</p>
  <input type="date" name="date">
  <input type="submit" name="submit" value="">
　</form>

　
　<p>運用人数</p>
<input type="number" name="num" required>人

　
　<p>スプレット</p>
<input type="number" name="num" required>円


<form>
<input type="button" onClick="location.href='http://localhost:8000/polls/index2/'" value="次へ">
</form>

</body>

  